PORT=6000

MONGODB_CONNECTION_URI=string_from_atlas

JWT_SECRET=chiave_segreta_per_firmare_i_token
JWT_EXPIRES_IN=durata_del_token

CLOUDINARY_CLOUD_NAME=il_tuo_cloudinary_name
CLOUDINARY_API_KEY=la_tua_cloudinary_key
CLOUDINARY_API_SECRET=il_tuo_cloudinary_secret

EMAIL_USER=la_tua_email
EMAIL_PASS=il_tuo_pass
EMAIL_HOST=il_tuo_host
EMAIL_PORT=la_tua_port

CLIENT_URL= per specificare del frontend
CLOUDINARY_FOLDER=nome della cartella su cloudinary dove salvare le immagini tipo sartoria_portfolio