/*GENERAL*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button-navy-background {
  background-color: #141f32;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.button-white-background {
  background-color: #fff;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.big-title {
  font-size: 64px;
}

.medium-title {
  font-size: 32px;
  margin-left: 4px;
  margin-right: 4px;
}

@media (max-width: 800px) {
  .big-title {
    font-size: 48px;
  }
  .medium-title {
    font-size: 24px;
  }
}

.boxSX,
.boxDX {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

@media (max-width: 800px) {
  .boxDX,
  .boxSX {
    display: block;
    width: 90%;
    margin: auto;
  }
}

/*HOMEPAGE*/

.banner-homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../assets/cover-galleria.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 700px;
  top: -1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tassello-homepage-1 {
  background-image: url("../assets/IMG_3207.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 520px;
  top: -1px;
  position: relative;
}

.tassello-homepage-2 {
  background-image: url("../assets/Andrea-1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 518px;
  top: -1px;
  position: relative;
}

.tassello-homepage-3 {
  background-image: url("../assets/home-side.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 518px;
  top: -1px;
  position: relative;
}

/*ABOUT*/

.banner-about {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../assets/DSC_0126.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 400px;
  top: -1px;
  position: relative;
}

/*PORTFOLIOPAGE*/

.portfolio-filter-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.portfolio-filters {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #ffff;
  background-color: #141f36;
  cursor: pointer;
}

.btn-outline-secondary {
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-outline-secondary:hover {
  background-color: #f8f9fa;
}

.btn-dark {
  border-radius: 50px;
}

/*#cards-container {
    background-color: #141f32;
}*/

/*TRADIZIONE*/

.banner-tradizione {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../assets/pex-armeno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 400px;
  top: -1px;
  position: relative;
}

/*RICHIEDI APPUNTAMENTO*/

.banner-appuntamento {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../assets/cover-gblu.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 400px;
  top: -1px;
  position: relative;
}

/*LOGIN*/

.login-wrapper {
  margin: 60px auto;
  width: 60%;
}

.login-container {
  padding: 30px 30px;
  border: 1px solid #141f32;
  margin-bottom: 30px;
  border-radius: 10px;
  color: #141f32;
}
